*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #212529;
}
.wrapper{
    width: 95%;
    padding: 24px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.logo{
    width: 4%;
    display: flex;
}
.nav{
    display: flex;
    width: 30%;
    align-items: center;
    font-size: 18px;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    a{
        text-decoration: none;
        color: white;

    }
    a:hover{
        text-decoration: underline;
        margin-top: 5px;
        color: #FFB742;
    }
}
.Hire_Me{
    width: 7%;
    display: flex;
    justify-content: flex-end; 
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
button{
    width: 121px;
    height: 54px;
    border: none;
    font-style: bold;
    font-weight: bold;
    font-size: 18px;
    background-color: #FFB742;
    border-radius: 50px;
    &:hover{
        background-color: lightblue;
    }
}
.content{
    width: 95%;
    height: 900px;
    padding: 50px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    border: 1 solid white;
    flex-direction: column;
}
.text_h1{
    display: flex;
    margin: 0 auto;
    a{
        text-decoration: none;
        color: #FFB742;
    }
    a:hover{
        text-decoration: underline solid #FFB742 3px;
        text-underline-offset: 5px;
        margin-bottom: 5px;
    }
}
h1{
    font-size: 32px; 
    text-align: center;
    color: white;
}
.main_text h1{
    font-size: 48px;
   margin-top: 0px;
}
.last_text{
    display: flex;
    margin: 0 auto;
    font-size: 24px;
    color: white;
}
.avatar{
    display: flex;
    margin: 0 auto;
}
.some_blocks{
    width: 95%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.block{
    width: 32%;
    padding: 30px;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 32px;
    align-content: space-around;
    display: flex;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    background-color: #292B2E;
    border-radius: 15px;
      h1{
        color: #FFB742;
        margin-bottom: -10px;
      }
        &:hover{
         background-color: #FFB742;
         fill: linear-gradient(94deg, #FF7B42 0%, rgba(255, 123, 66, 0.76) 99.33%);
         h1{
            color: black;
        }
        p{
            color: black;
        }
    }
   
}






.block content{
    flex-direction: column;
}
p{
    font-size: 20px;
    color: white;
}
.content2{
    width: 95%;
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 1 solid white;
}
.big_ava{
    width: 42%;
    margin: 0 auto;
    justify-content: right;

    
}
.big_text{
    width: 42%;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
    text-decoration: none;
}
h2{
    font-size: 48px;
    margin: 10px auto;
    color: white;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    color: #D4D4D4;  
    line-height: 30px;
}
.hire_me{
    margin-top: 70px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}
.info{
    width: 95%;
    padding-bottom: 100px;
    display: flex; 
    height: 500px;
    margin: 0 auto;

}
.my_skills{
    width: 40%;
    padding-top: 40px;
    margin: 0 auto;
    align-content: flex-start;
    
    h4{
        margin:10px;
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 45px;   
        margin-top: 10px;
    }
    .who_i{
        margin-top: 50px;
    }
    h5{
        color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }


}
.my_works1{
    width: 20%;
    display: flex;
    padding: 3px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    color: #FFB742;  
    font-size: 20px;
    justify-content: center;

}
.block_icons{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
}
.items{
    width: 70%;
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.it{
    width: 70%;
    display: flex;
    padding-top: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
   
}
.icon{
    width: 13%;
    padding: 15px;
    text-align: center;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    background-color: #383E45;
    border-radius: 10px;
    flex-wrap: wrap; 
    &:hover{
        background-color: rgba(255, 183, 66, 0.50);
    }
}

.my_works,
.featured,
.navigation{
    width: 30%;
    padding:10px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.last_nav{
    margin-top: 20px;
    color: white;
    width: 90%;
    font-size: 16px;
    a{
        color: white;
        margin-right: 30px;
        text-decoration: none;
    }
}
.last_nav a:hover{
    background-color: #FFB742;
    color: black;
    border: 10px hidden #FFB742;
    background-size: 10px 10px;
}

.blogs{
    width: 80%;
    display: flex;
    margin: 0 auto;


}
.block_content{
    width: 31%;
    display: flex;
    margin: 0 auto;
    margin: 25px  25px ;
    align-content: space-between;
    flex-direction: column;
}
.block_content img{
    padding-bottom: 20px;
}
.featured{
    font-size: 48px;
    color: white;
}

.top_reviews{
    width: 95%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
   
}
.text_top{
    width: 10%;
    padding: 10px;
    display: flex;
    margin: 0  auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    justify-content: center;
    color: #FFB742;  
}

.text_top2{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 46px;
    margin-bottom: 20px;
}

footer{
    width: 100%;
    display: flex;
    background-color: #1C1C1C;
    margin: 0 auto;
    
}
.footer_content{
    width: 95%;
    display: flex;
    background-color: #1C1C1C;
    margin: 0 auto;
}
.bottom{
    width: 20%;
    padding: 80px;
    display: flex;
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
    h3{
        font-size: 32px;
        color:#FFB742 ;
        
    }
    h2{
        font-size: 16px;
        color: #D4D4D4;
    }
}
.bottomm{
    width: 23%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    h3{
        font-size: 32px;
        color:#FFB742 ;
        
    }
    h2{
        font-size: 16px;
        color: #D4D4D4;
    }
}
.bottom_bot{
    width: 25%;
    padding: 80px;
    display: flex;
    font-family: 'Work Sans', sans-serif;
    flex-direction: column;
    margin: 0 auto;
    h3{
        font-size: 22px;
        color:white ;
        
    }
    h2{
        font-size: 16px;
        color: #7B7B7B;
    }
}
.bottom_nav{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    color: white;
    font-size: 21.587px;
    a{
        font-size: 18px;
        margin-top: 10px;
        color: #7B7B7B;
        text-decoration: none;
        &:hover{
            color:#FFB742;
    }
}
}

.blocks_review{
    width: 95%;
    display: flex;
    margin: 0 auto;
    padding: 50px 0 70px 0;

}

.review{
    width: 30%;
    padding: 30px 40px 30px 30px;
    display: inline-block;
    margin: 0 auto;
    background-color: white;

}
.costumer_ava{
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.costumer_text{
    width: 50%;
    display: flex;
    margin-left: 30px;
    font-size: 20px;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -40px;
}
.costumer_text h6{
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.text{
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}






@media (max-width: 970px){
    body{
        margin: 0;
        background-color: #212529;
    }
    .wrapper{
        width: 100%;
        padding: 24px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .content{
        width: 95%;
        height: 1200px;
        flex-direction: column;
    }
    .content2{
        width: 95%;
        padding-bottom: 380px;
    }
    .big_ava{
        display: none;
    }
    .big_text{
        width: 95%;
    }
    h2{
        font-size: 48px;
        margin: 10px auto;
        color: white;
    }
    .my_works1h3{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin: 0;
        color: white;  
        text-transform: capitalize;
        line-height: 30px;
    }
    .hire_me{
        margin-top: 70px;
    
    }
    .my_works1{
        width: 40%;
    }
    nav{
        display: flex;
        width: 70%;
        align-items: center;
        text-align: center;
        margin-left: 40px;
        justify-content: space-around;
        flex-wrap: wrap;
        a{
            text-decoration: none;
            color: white;
    
        }
        a:hover{
            text-decoration: underline;
            margin-top: 5px;
        }
    }
    .text_h1{
        display: flex;
        margin: 0 auto;
        font-family: 'Inter', sans-serif;
        a{
            text-decoration: none;
            font-family: 'Inter', sans-serif;
            color: #FFB742;
        }
        a:hover{
            text-decoration: underline solid #FFB742 3px;
            text-underline-offset: 5px;
            margin-bottom: 5px;
        }
    }
    h1{
        font-size: 19px; 
        text-align: center;
        color: white;
        font-family: 'Inter', sans-serif;
    }
    .main_text h1{
        font-size: 28px;
        margin-top: 0px;
        font-family: 'Inter', sans-serif;
    }
    .last_text{
        display: flex;
        margin: 0 auto;
        text-transform: capitalize;
        font-size: 15px;
        color: white;
        text-align: center;
        
        font-family: 'Inter', sans-serif;
    }


    .some_blocks{
        width: 95%;
        flex-direction: column;
    }
    .block{
        width: 100%;
        padding: 30px;
        margin-bottom: 20px;
    }
    .blocks_review{
        width: 100%;
        flex-direction: column;
    }
    .review{
        width: 100%;
        margin-bottom: 20px;
    }
    .block:nth-child(3){
        width: 100%;
    }
    p{
        font-size: 20px;
    }

    .text_top{
        width: 30%;
    }
    .featured{
        width: 70%;
        font-size: 35px;
    }

    .navigation{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    .last_nav{
       display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        margin-left: 40px;
        justify-content: center;
   
    }
    .blogs{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block_content{
        width: 70%;
        display: flex;
    }

   .text_top2{
    justify-content: center;

}
footer{
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer_content{
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.bottom{
    width: 50%;
   

}
.bottomm{
    width: 100%;
    display: none;

}
.bottom_bot{
    width: 100%;
    align-items: center;
    }
  .info{
        width: 95%;
        padding-bottom: 100px;
        padding-top: 100px;
        display: flex; 
        height: 500px;
        margin: 0 auto;
        flex-direction: column;
    
    }
    .my_skills{
        width: 90%;
        padding-top: 40px;
        margin: 0 auto;
     
       
        
        h4{
            margin:10px;
            color: #FFF;
            font-family: 'Roboto', sans-serif;
            font-size: 45px;   
            margin-top: 10px;
        }
        .who_i{
            margin-top: 50px;
        }
        h5{
            color: #FFF;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
        }
    
    
    }
    .block_icons{
        width: 90%;    
        margin-bottom: 20px;
    }
    .items{
        width: 90%;
        padding-top: 0px;
        padding-bottom: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
    .it{
        width: 90%;
        display: flex;
       
    }
    .icon{
        width: 12%;
        padding: 15px;
        text-align: center;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        background-color: #383E45;
        border-radius: 10px;
        flex-wrap: wrap; 
        &:hover{
            background-color: rgba(255, 183, 66, 0.50);
        }
    }
    .text_top{
        width: 30%;

        display: flex;
        margin: 0  auto;
        font-family: 'Poppins', sans-serif;
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 50px;
        justify-content: center;
        color: #FFB742;  
    }
}

