*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.wrapper{
width: 91%;
padding: 24px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;

}
.items{
 width: 33.33%;
 padding: 10px;
 color: white;
 display: flex;
}

.items_nav{
    width: 33.33%;
    padding: 10px;
    font-size: 14px;
    font-style: normal;
    color: white;
    text-align: center;
}
.items_nav a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin: 0px 35px 0px 35px;
}
.items_nav a:hover{
    border-bottom: 5px solid black;
    padding-bottom: 20px;
}

.items_icon{
    width: 33.33%;
    padding: 10px;  
    text-align: right;
    font-size: 25px;
}
.items_icon i:nth-child(1){
    margin-right: 15px;
}
.items_icon i:nth-child(2){
    margin-right: 15px;
}

section{
    width: 100%;
    background-color: #F5C7B3;
}

.content{
    width: 91%;
    padding: 0px;
    background-color: #F5C7B3;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.left_block,
.right_block{
     width: 50%;
     padding: 100px;
     flex-wrap: wrap;
}
.right_block img{
    position: relative;
    z-index: 1;
}
.big_text{
    z-index: 2;
    display: flex;
    color: #F1BBA4;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 170px;
    margin-left: 360px;
    margin-top: -530px;
}
.dots{
    display: flex;
    flex-direction: column;
    margin-left: 550px;
    margin-top: -300px;
}
h1{
    font-size: 150px;
    color: white;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;

}
h3{
    color: white;
    margin-top: -130px;
    font-family:  sans-serif;

}

.buttons{
    width: 564px;
    display: flex;
    padding-top: 40px;
}
.Shop_now{
    width:272px;
    height: 52px;
    background-color: black;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    border: none;
    flex-wrap: wrap;
    box-shadow: 1px 1px 20px 1px grey;
    border-radius:7px;
}
.Shop_now:hover{
    background-color: grey;
}
.second_button{
    color: black;
    background-color: transparent;
    padding: 5px 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    
}
.second_button img{
        width: 50px;
        color: #56ce4d;
        margin-right: 5px;
    }

.second_button:hover{
    background-color: grey;
}
.small_smeg{
    padding-top: 30px;
    height: 150px;


}
.small_smeg img{
    border: 1px solid white;
    border-radius: 7px;
}
.small_smeg img:hover{
    border: 3px solid white;
    background-color: white;
    border-radius: 7px;
}
.small_smeg img:nth-child(2){
    margin-left: 30px;
}
.small_smeg img:nth-child(3){
    margin-left: 30px;
}
.small_smeg img:nth-child(4){
    margin-left: 30px;
}
