*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.wrapper{
width: 91%;
padding: 24px;
margin: 0 auto;
display: flex;
align-content: space-between;

}
.logo{
 width: 100%;
 padding: 10px;
 color: white;
 display: flex;

}

.items_nav{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
    justify-content: center;
}
.items_icon{
    width: 100%;
    padding: 10px;  
    text-align: right;
    font-size: 25px;
}

.items_nav a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin: 0px 35px 0px 35px;
}
.items_nav a:hover{
    border-bottom: 5px solid black;
    padding-bottom: 41px;
}


.items_icon i:nth-child(1){
    margin-right: 15px;
}
.items_icon i:nth-child(2){
    margin-right: 15px;
}

section{
    min-width: 600px;
    background-color: #F5C7B3;
    display: flex;
    flex-wrap: wrap;
}

.content{
    width: 91%;
    padding: 0px;
    background-color: #F5C7B3;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.left_block,
.right_block{
     width: 50%;
     padding: 90px;
}

.right_block{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: stretch;
}
.right_block img{
    position: relative;
    z-index: 2;
}
.big_text{
    position: relative;
    z-index: 1;
    display: flex;
    color: #F1BBA4;
    margin-left: -60px;
}
.dots{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
}
.left_block{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 150px;
    color: white;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;

}
h3{
    color: white;
    font-family:  sans-serif;

}
.small_items{
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.buttons{
    width: 564px;
    display: flex;
    padding-top: 40px;
}
.Shop_now{
    width:272px;
    height: 52px;
    background-color: black;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    border: none;
    flex-wrap: wrap;
    box-shadow: 1px 1px 20px 1px grey;
    border-radius:7px;
}
.Shop_now:hover{
    background-color: grey;
}
.second_button{
    color: black;
    background-color: transparent;
    padding: 5px 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    
}
.second_button img{
        width: 50px;
        color: #56ce4d;
        margin-right: 5px;
    }

.second_button:hover{
    background-color: grey;
}
.small_smeg{
    width: 14%;
    display: flex;
    padding: 10px;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 7px;
    justify-content: center ;
    margin-right: 20px;
    margin-top: 10px;
}
.small_smeg:hover{
    border: 3px solid white;
    background-color: white;
    border-radius: 7px;
}

.small_smeg img:nth-child(2){
    margin-left: 30px;
}
.small_smeg img:nth-child(3){
    margin-left: 30px;
}
.small_smeg img:nth-child(4){
    margin-left: 30px;
}

@media (max-width: 900px){
       
        .wrapper{
        width: 95%;
        padding: 24px;
        margin: 0 auto;
        display: flex;
        align-content: center;
        justify-content: center;
        }

        .section{
            width: 100px;
            background-color: #F5C7B3;
            display: flex;
            flex-wrap: wrap;
        }
        
        .content{
            width: 100%;
            flex-direction: column;  
        }
        
        .items_nav{
            display: none;
        }

        .left_block{
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .left_block h1{
            font-size: 80px;
            justify-content: center;
            align-items: center;
            }
        .buttons{
                width: 90%;
                display: flex;
                padding-top: 40px;
            }
            .dots{
                display: flex; 
                justify-content: center;
                flex-direction: column;
                margin-left: 10px;
            }

        .second_button{
              display: none;
                
            }
        .small_smeg{
            display: none;
            }
            h3{
                color: white;
                font-family:  sans-serif;
            
            }
           
}